body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.624rem;
  margin: 50px auto 0 auto;
  color: #66bfbf;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66bfbf;
font-weight: normal;
padding-bottom: 10px;
}

h3 {
font-family: 'Montserrat', sans-serif;
color: #11999e;
}

hr {
 border: dotted #eaf6f6 8px;
 border-bottom: none;
 margin: 100px auto;
 width: 5%;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 10px;
}

a:hover {
  color: #eaf6f6;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}



.contact-message {
    margin: 40px auto 70px;
    width: 40%;
  }


.intro {
  margin: auto;
  width: 60%;
}

.middle-container {
  margin: 100px auto;
}

.pro {
text-decoration: underline;
}

.profile {
  margin: auto;
  width: 50%;
}

.pimg {
  width: 50%;
}

.skills {
  height: 700px;
  position: relative;
}

.skill-row-div-1 {
  width: 35%;
  position: absolute;
  left: 21%;
  top: 17%;
  margin: 20px auto;
}

.skill-row-div-2 {
  width: 25%;
  position: absolute;
  right: 22.5%;
  top: 17%;
  text-align: left;
  margin: 20px auto;
}

.skill-row-div-3 {
width: 35%;
position: absolute;
bottom: 3%;
right: 21%;
margin: 20px auto;
}

.skill-row-div-4 {
  width: 25%;
  position: absolute;
  left: 22.5%;
  bottom: 8%;
  text-align: left;
  margin: 20px auto;
}

.skill-row-img1 {
width: 35%;
}

.skill-row-img2 {
width: 35%;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}
